html {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  right: 12px;
  display: grid;
  top: 0;
  background: white;
  z-index: 1000;
  #navbar {
    display: grid;
    grid-template-columns: auto auto auto;
    #header-icon-wrapper{
      grid-column: 1/2;
      #header-icon{
        width: 100px;
      }
    }
    #soundtrack-me-title {
      grid-column: 2/3;
      grid-row: 1;
      font-size: 40px;
    }
    #header-username {
      grid-column: 3;
      grid-row: 1;
      font-size: 40px;
    }

    #sign-out-block {
      text-align: right;
      grid-row: 1;
      grid-column: 3;
    }
    #sign-in-block {
      text-align: right;
      grid-row: 1;
      grid-column: 3;
      #signup-button {
        font-weight: bold;
      }
    }
  }
}
.sign-in-modal {
  display: flex;
  flex-direction: corowlumn;
  z-index: 1000;
}
#close-signup-modal-block {
  text-align: right;
}


body {

  #sign-in-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    #sign-in-form {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
  //filmmaker view
  #open-add-film-form {
    text-align: center;
  }
  #add-film-view {
    display: flex;
    flex-direction: column;
    text-align: center;
    #film-title {

    }
    #film-description {

    }
    #film-link {

    }
  }
  #my-films {
    .film-wrapper {
      display: flex;
      flex-direction: row;
      .film-info-wrapper {
        display: flex;
        flex-direction: column;
        .film-title {
          font-size: 20px;
          font-family: Arial;
          color: black;
        }
        .film-link {
          font-size: 15px;
          font-family: Arial;
          color: gray;
        }
        .film-description {
          font-size: 15px;
          font-family: Arial;
          color: gray;
        }
      }
    }
  }


  //COMPOSER VIEW
  #composer-view {
    display: flex;
    flex-direction: row;
    #all-films-wrapper {
      border-top: 1px solid gray;
      border-right: .5px solid black;
      padding-right: 50px;
      #film-feed-title {
        font-size: 30px;
        padding-bottom: 20px;
      }
      #all-films-composer-display {
        .film-wrapper {
          display: flex;
          flex-direction: row;
          .film-info-wrapper {
            display: flex;
            flex-direction: column;
            .film-title {
              font-size: 20px;
              font-family: Arial;
              color: black;
            }
            .film-link {
              font-size: 15px;
              font-family: Arial;
              color: gray;
            }
            .film-description {
              font-size: 15px;
              font-family: Arial;
              color: gray;
            }
          }
        }
      }
    }
    #my-scored-films {
      border-top: 1px solid gray;
      border-left: .5px solid black;
      padding-left: 50px;
      #my-scored-films-title {
        font-size: 30px;
        padding-bottom: 20px;
      }
      .score-wrapper{
        display: flex;
        flex-direction: row;
        border-top: gray 1px solid;
        padding-top: 5px;
        padding-bottom: 5px;
        .score {
          display: flex;
          flex-direction: column;
          padding-right: 12px;
          .score-title {
            font-size: 20px;
          }
          .score-description  {
            font-size: 15px;
            color: gray
          }
          .score-link {
            font-size: 15px;
            color: gray
          }
        }
        .score-film {
          border-left: gray solid 1px;
          padding-left: 20px;
          display: flex;
          flex-direction: column;
          .score-film-title {
            font-size: 18px;
            color: black;
          }
          .score-filmmaker {
            font-size: 15px;
            color: black;
          }
          .score-film-description {
            font-size: 15px;
            color: gray
          }
          .score-film-link {
            font-size: 15px;
            color: gray
          }
        }
      }
    }
  }





  #sign-up {
    text-align: center;
    #sign-up-form-1 {
      display: flex;
      flex-direction: column;
      justify-content: left;
    }
    #sign-up-form-2 {
      display: flex;
      flex-direction: column;
      justify-content: left;
    }
    #sign-up-form-3 {
      display: flex;
      flex-direction: column;
      justify-content: left;
    }
    #sign-up-form-email-confirmation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      #user-info-wrapper {
        margin-top: 10px;
        #user-info {
          width: 300px;
          margin-left: auto;
          margin-right: auto;
          text-align: left;
        }
      }
      #payment-info-wrapper {
        margin-top: 10px;
        #payment-info {
          width: 300px;
          margin-left: auto;
          margin-right: auto;
          text-align: left;
        }
      }
      #back-or-submit {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}