html {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
};
label {
  font-size: 15px;
}


input[type=text], [type=password] {
  padding: 7px;
  margin: 7px;
}

header {
  right: 12px;
  display: grid;
  top: 0;
  background: white;
  border-bottom: gray solid 1px;
  z-index: 1000;
  #navbar {
    display: grid;
    grid-template-columns: auto auto auto;
    #header-icon-wrapper{
      grid-column: 1/2;
      #header-icon{
        width: 100px;
      }
    }
    #soundtrack-me-title {
      grid-column: 2/3;
      grid-row: 1;
      font-size: 80px;
    }
    #header-username {
      grid-column: 3;
      grid-row: 1;
      font-size: 40px;
      text-align: right;
      margin-right: 80px;
    }

    #sign-out-block {
      text-align: right;
      grid-row: 1;
      grid-column: 3;
    }
    #sign-in-block {
      text-align: right;
      grid-row: 1;
      grid-column: 3;
      font-size: 20px;
      #sign-in-button {
      }
      #signup-button {
        font-weight: bold;
      }
    }
  }
}

.sign-in-modal {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}
#close-signup-modal-block {
  text-align: right;
}


body {

  #sign-in-page {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    #sign-in-create-account {
      font-size: 30px;
      margin-bottom: 20px;
    }
    #enter-your-username {
      color: gray;
      margin-bottom: 30px;
    }
    #sign-in-form {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-bottom: 10px;
      #username {
        font-size: 15px;
        margin-bottom: 10px;
      }
      #password {
        font-size: 15px;
        margin-bottom: 30px;
      }
      #sign-in-submit {

      }
    }
  }
  //FILMMAKER VIEW
#filmmaker-view-wrapper {
  #my-films-title{
    font-size: 40px;
  }
  #filmmaker-view {
    display:flex;
    flex-direction: row;
    #my-films {
      padding-top: 30px;
      .my-film-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        .film-wrapper {
          display: flex;
          flex-direction: row;

          .film-info-wrapper {
            width: 510px;
            display: flex;
            flex-direction: column;
            .film-title {
              font-size: 30px;
              font-family: Arial;
              color: black;
              margin-bottom: 10px;
            }
            .film-description {
              font-size: 15px;
              font-family: Arial;
              color: gray;
              margin-bottom: 20px;
            }
            .film-video-wrapper {
              .film-video {
                width: 500px;
              }
            }

          }
        }
        .scores-wrapper {
          max-height: 366.25px;
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          overflow: scroll;
          .candidate-score {
            .candidate-composer {
              font-size: 20px;
            }
            .candidate-score-title {
              margin-top: 5px;
              font-size: 20px;
            }
            .candidate-score-description {
              font-size: 15px;
              color: gray;
            }

            .interact-with-candidate {
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              .favorite {
                opacity: .5;
                width: 30px;
              }
              .favorite:hover {
                transform: scale(1.2);
                opacity: 1;
                transition: 250ms;
              }
                .contact {
                  margin-left: 12px;
                  margin-right: 12px;
                  width: 30px;
                  opacity: .5;
                }
                .contact:hover {
                  margin-left: 12px;
                  transform: scale(1.2);
                  transition: 250ms;
                  opacity: 1;
                }
              }
          }
        }
      }
    }

    #add-film-form {
      transform: translate(250%, 30%);
      position: fixed;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 30px;
      font-size: 30px;
      display: flex;
      flex-direction: column;
      text-align: center;
      #film-title {
        margin-top: 10px;
        font-size: 15px;
      }
      #film-description {
        margin-top: 10px;
        font-size: 15px;
      }
      #film-file {
        margin-top: 10px;
        font-size: 15px;
      }
      #add-film-submit {
        #close-add-film-form {
          margin-right: 5px;
          font-size: 15px;
        }
        #submit-add-film-form {
          margin-left: 5px;
          font-size: 15px;
        }

      }
    }
    #open-add-film-form-button-inner-wrapper {
      #open-add-film-form-button-inner-wrapper {
        position: fixed;
        margin: 0;
        text-align: center;
      }
    }
  }
}


    //COMPOSER VIEW
  #composer-view {
    display: flex;
    flex-direction: row;

    #all-films-wrapper {
      overflow: scroll;
      border-right: .5px solid black;
      padding-right: 50px;
      #film-feed-title {
        margin-top: 10px;
        font-size: 30px;
        padding-bottom: 20px;
      }
      #all-films-composer-display {
        .film-wrapper {
          display: flex;
          flex-direction: row;
          .film-info-wrapper {
            width: 510px;
            display: flex;
            flex-direction: column;
            .film-title {
              font-size: 30px;
             font-family: Arial;
             color: black;
             margin-bottom: 10px;
            }
            .film-description {
              font-size: 15px;
              font-family: Arial;
              color: gray;
              margin-bottom: 20px;
            }
            .film-video {
              width: 500px;
            }
            .score-it-button {
              font-weight: bold;
              height: 40px;
              width: 500px;
            }
          }
        }
      }
    }
    #add-score-view {
      padding-top: 15px;
      margin-left: 20px;
      font-size: 30px;
      text-align: center;
      #score-title {
        margin: 20px;
        font-size: 25px;
      }
      #score-description {
        margin: 20px;
        font-size: 25px;
      }
      #upload-score {
        margin: 20px;
        font-size: 25px;
      }
      #upload-file {
        margin: 10px;
        font-size: 25px;
      }
      #back-button {
        margin: 10px;
        font-size: 25px;
      }
      #submit-button {
        margin: 10px;
        font-size: 25px;
      }
    }

    #my-scored-films {
      padding-left: 50px;
      #my-scored-films-title {
        margin-top: 10px;
        font-size: 30px;
        padding-bottom: 20px;
      }
      .score-wrapper{
        display: flex;
        flex-direction: row;
        border-top: gray 1px solid;
        padding-top: 5px;
        padding-bottom: 5px;
        .score {
          display: flex;
          flex-direction: column;
          padding-right: 12px;
          .favorite-status {
            background-color: greenyellow;
            font-size: 40px;
          }
          .score-title {
            padding-top: 15px;
            font-size: 20px;
          }
          .score-description  {
            padding-top: 10px;
            font-size: 15px;
            color: gray
          }
          .score-link {
            font-size: 15px;
            color: gray
          }
        }
        .score-film {
          border-left: gray solid 1px;
          padding-top: 15px;
          padding-left: 20px;
          display: flex;
          flex-direction: column;
          .score-film-title {
            font-size: 20px;
            padding-top: 10px;
            color: black;
          }
          .score-filmmaker {
            font-size: 18px;
            padding-top: 10px;
            color: black;
          }
          .score-film-description {
            font-size: 15px;
            padding-top: 10px;
            color: gray
          }
        }
      }
    }
  }

  #sign-up {
    text-align: center;
    #sign-up-form-1 {
      display: flex;
      flex-direction: column;
      justify-content: left;
    }
    #sign-up-form-2 {
      display: flex;
      flex-direction: column;
      justify-content: left;
    }
    #sign-up-form-3 {
      display: flex;
      flex-direction: column;
      justify-content: left;
    }
    #sign-up-form-email-confirmation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      #user-info-wrapper {
        margin-top: 10px;
        #user-info {
          width: 300px;
          margin-left: auto;
          margin-right: auto;
          text-align: left;
        }
      }
      #payment-info-wrapper {
        margin-top: 10px;
        #payment-info {
          width: 300px;
          margin-left: auto;
          margin-right: auto;
          text-align: left;
        }
      }
      #back-or-submit {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}