html {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  right: 12px;
  display: grid;
  top: 0;
  background: white;
  z-index: 1000;
}
header #navbar {
  display: grid;
  grid-template-columns: auto auto auto;
}
header #navbar #header-icon-wrapper {
  grid-column: 1/2;
}
header #navbar #header-icon-wrapper #header-icon {
  width: 100px;
}
header #navbar #soundtrack-me-title {
  grid-column: 2/3;
  grid-row: 1;
  font-size: 40px;
}
header #navbar #header-username {
  grid-column: 3;
  grid-row: 1;
  font-size: 40px;
}
header #navbar #sign-out-block {
  text-align: right;
  grid-row: 1;
  grid-column: 3;
}
header #navbar #sign-in-block {
  text-align: right;
  grid-row: 1;
  grid-column: 3;
}
header #navbar #sign-in-block #signup-button {
  font-weight: bold;
}

.sign-in-modal {
  display: flex;
  flex-direction: corowlumn;
  z-index: 1000;
}

#close-signup-modal-block {
  text-align: right;
}

body #sign-in-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
body #sign-in-page #sign-in-form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
body #open-add-film-form {
  text-align: center;
}
body #add-film-view {
  display: flex;
  flex-direction: column;
  text-align: center;
}
body #my-films .film-wrapper {
  display: flex;
  flex-direction: row;
}
body #my-films .film-wrapper .film-info-wrapper {
  display: flex;
  flex-direction: column;
}
body #my-films .film-wrapper .film-info-wrapper .film-title {
  font-size: 20px;
  font-family: Arial;
  color: black;
}
body #my-films .film-wrapper .film-info-wrapper .film-link {
  font-size: 15px;
  font-family: Arial;
  color: gray;
}
body #my-films .film-wrapper .film-info-wrapper .film-description {
  font-size: 15px;
  font-family: Arial;
  color: gray;
}
body #composer-view {
  display: flex;
  flex-direction: row;
}
body #composer-view #all-films-wrapper {
  border-top: 1px solid gray;
  border-right: 0.5px solid black;
  padding-right: 50px;
}
body #composer-view #all-films-wrapper #film-feed-title {
  font-size: 30px;
  padding-bottom: 20px;
}
body #composer-view #all-films-wrapper #all-films-composer-display .film-wrapper {
  display: flex;
  flex-direction: row;
}
body #composer-view #all-films-wrapper #all-films-composer-display .film-wrapper .film-info-wrapper {
  display: flex;
  flex-direction: column;
}
body #composer-view #all-films-wrapper #all-films-composer-display .film-wrapper .film-info-wrapper .film-title {
  font-size: 20px;
  font-family: Arial;
  color: black;
}
body #composer-view #all-films-wrapper #all-films-composer-display .film-wrapper .film-info-wrapper .film-link {
  font-size: 15px;
  font-family: Arial;
  color: gray;
}
body #composer-view #all-films-wrapper #all-films-composer-display .film-wrapper .film-info-wrapper .film-description {
  font-size: 15px;
  font-family: Arial;
  color: gray;
}
body #composer-view #my-scored-films {
  border-top: 1px solid gray;
  border-left: 0.5px solid black;
  padding-left: 50px;
}
body #composer-view #my-scored-films #my-scored-films-title {
  font-size: 30px;
  padding-bottom: 20px;
}
body #composer-view #my-scored-films .score-wrapper {
  display: flex;
  flex-direction: row;
  border-top: gray 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
}
body #composer-view #my-scored-films .score-wrapper .score {
  display: flex;
  flex-direction: column;
  padding-right: 12px;
}
body #composer-view #my-scored-films .score-wrapper .score .score-title {
  font-size: 20px;
}
body #composer-view #my-scored-films .score-wrapper .score .score-description {
  font-size: 15px;
  color: gray;
}
body #composer-view #my-scored-films .score-wrapper .score .score-link {
  font-size: 15px;
  color: gray;
}
body #composer-view #my-scored-films .score-wrapper .score-film {
  border-left: gray solid 1px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
body #composer-view #my-scored-films .score-wrapper .score-film .score-film-title {
  font-size: 18px;
  color: black;
}
body #composer-view #my-scored-films .score-wrapper .score-film .score-filmmaker {
  font-size: 15px;
  color: black;
}
body #composer-view #my-scored-films .score-wrapper .score-film .score-film-description {
  font-size: 15px;
  color: gray;
}
body #composer-view #my-scored-films .score-wrapper .score-film .score-film-link {
  font-size: 15px;
  color: gray;
}
body #sign-up {
  text-align: center;
}
body #sign-up #sign-up-form-1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
body #sign-up #sign-up-form-2 {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
body #sign-up #sign-up-form-3 {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
body #sign-up #sign-up-form-email-confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body #sign-up #sign-up-form-email-confirmation #user-info-wrapper {
  margin-top: 10px;
}
body #sign-up #sign-up-form-email-confirmation #user-info-wrapper #user-info {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
body #sign-up #sign-up-form-email-confirmation #payment-info-wrapper {
  margin-top: 10px;
}
body #sign-up #sign-up-form-email-confirmation #payment-info-wrapper #payment-info {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
body #sign-up #sign-up-form-email-confirmation #back-or-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
