html {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  height: 100px;
  max-width: 1300px;
}

label {
  font-size: 15px;
}

input[type=text], [type=password] {
  padding: 7px;
  margin: 7px;
}

header {
  right: 12px;
  display: grid;
  top: 0;
  background: white;
  border-bottom: gray solid 1px;
  z-index: 1000;
}
header #navbar {
  display: grid;
  grid-template-columns: auto auto auto;
}
header #navbar #header-icon-wrapper {
  grid-column: 1/2;
}
header #navbar #header-icon-wrapper #header-icon {
  width: 100px;
}
header #navbar #soundtrack-me-title {
  grid-column: 2/3;
  grid-row: 1;
  font-size: 80px;
}
header #navbar #header-username {
  grid-column: 3;
  grid-row: 1;
  font-size: 40px;
  text-align: right;
  margin-right: 80px;
}
header #navbar #sign-out-block {
  text-align: right;
  grid-row: 1;
  grid-column: 3;
}
header #navbar #sign-in-block {
  text-align: right;
  grid-row: 1;
  grid-column: 3;
  font-size: 20px;
}
header #navbar #sign-in-block #signup-button {
  font-weight: bold;
}

.sign-in-modal {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

#close-signup-modal-block {
  text-align: right;
}

body #sign-in-page {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
body #sign-in-page #sign-in-create-account {
  font-size: 30px;
  margin-bottom: 20px;
}
body #sign-in-page #enter-your-username {
  color: gray;
  margin-bottom: 30px;
}
body #sign-in-page #sign-in-form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10px;
}
body #sign-in-page #sign-in-form #username {
  font-size: 15px;
  margin-bottom: 10px;
}
body #sign-in-page #sign-in-form #password {
  font-size: 15px;
  margin-bottom: 30px;
}
body #filmmaker-view {
  display: flex;
  flex-direction: row;
}
body #filmmaker-view #my-films {
  padding-top: 30px;
}
body #filmmaker-view #my-films .my-film-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
body #filmmaker-view #my-films .my-film-wrapper .film-wrapper {
  display: flex;
  flex-direction: row;
}
body #filmmaker-view #my-films .my-film-wrapper .film-wrapper .film-info-wrapper {
  width: 510px;
  display: flex;
  flex-direction: column;
}
body #filmmaker-view #my-films .my-film-wrapper .film-wrapper .film-info-wrapper .film-title {
  font-size: 30px;
  font-family: Arial;
  color: black;
  margin-bottom: 10px;
}
body #filmmaker-view #my-films .my-film-wrapper .film-wrapper .film-info-wrapper .film-description {
  font-size: 15px;
  font-family: Arial;
  color: gray;
  margin-bottom: 20px;
}
body #filmmaker-view #my-films .my-film-wrapper .film-wrapper .film-info-wrapper .film-video-wrapper .film-video {
  width: 500px;
}
body #filmmaker-view #my-films .my-film-wrapper .scores-wrapper {
  max-height: 366.25px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
body #filmmaker-view #my-films .my-film-wrapper .scores-wrapper .candidate-score .candidate-composer {
  font-size: 20px;
}
body #filmmaker-view #my-films .my-film-wrapper .scores-wrapper .candidate-score .candidate-score-title {
  margin-top: 5px;
  font-size: 20px;
}
body #filmmaker-view #my-films .my-film-wrapper .scores-wrapper .candidate-score .candidate-score-description {
  font-size: 15px;
  color: gray;
}
body #filmmaker-view #my-films .my-film-wrapper .scores-wrapper .candidate-score .interact-with-candidate {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
body #filmmaker-view #my-films .my-film-wrapper .scores-wrapper .candidate-score .interact-with-candidate .favorite {
  opacity: 0.5;
  width: 30px;
}
body #filmmaker-view #my-films .my-film-wrapper .scores-wrapper .candidate-score .interact-with-candidate .favorite:hover {
  transform: scale(1.2);
  opacity: 1;
  transition: 250ms;
}
body #filmmaker-view #my-films .my-film-wrapper .scores-wrapper .candidate-score .interact-with-candidate .contact {
  margin-left: 12px;
  margin-right: 12px;
  width: 30px;
  opacity: 0.5;
}
body #filmmaker-view #my-films .my-film-wrapper .scores-wrapper .candidate-score .interact-with-candidate .contact:hover {
  margin-left: 12px;
  transform: scale(1.2);
  transition: 250ms;
  opacity: 1;
}
body #filmmaker-view #add-film-form {
  transform: translate(250%, 30%);
  position: fixed;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
body #filmmaker-view #add-film-form #film-title {
  margin-top: 10px;
  font-size: 15px;
}
body #filmmaker-view #add-film-form #film-description {
  margin-top: 10px;
  font-size: 15px;
}
body #filmmaker-view #add-film-form #film-file {
  margin-top: 10px;
  font-size: 15px;
}
body #filmmaker-view #add-film-form #add-film-submit #close-add-film-form {
  margin-right: 5px;
  font-size: 15px;
}
body #filmmaker-view #add-film-form #add-film-submit #submit-add-film-form {
  margin-left: 5px;
  font-size: 15px;
}
body #filmmaker-view #open-add-film-form-button-inner-wrapper #open-add-film-form-button-inner-wrapper {
  position: fixed;
  margin: 0;
  text-align: center;
}
body #composer-view {
  display: flex;
  flex-direction: row;
}
body #composer-view #all-films-wrapper {
  overflow: scroll;
  border-right: 0.5px solid black;
  padding-right: 50px;
}
body #composer-view #all-films-wrapper #film-feed-title {
  margin-top: 10px;
  font-size: 30px;
  padding-bottom: 20px;
}
body #composer-view #all-films-wrapper #all-films-composer-display .film-wrapper {
  display: flex;
  flex-direction: row;
}
body #composer-view #all-films-wrapper #all-films-composer-display .film-wrapper .film-info-wrapper {
  width: 510px;
  display: flex;
  flex-direction: column;
}
body #composer-view #all-films-wrapper #all-films-composer-display .film-wrapper .film-info-wrapper .film-title {
  font-size: 30px;
  font-family: Arial;
  color: black;
  margin-bottom: 10px;
}
body #composer-view #all-films-wrapper #all-films-composer-display .film-wrapper .film-info-wrapper .film-description {
  font-size: 15px;
  font-family: Arial;
  color: gray;
  margin-bottom: 20px;
}
body #composer-view #all-films-wrapper #all-films-composer-display .film-wrapper .film-info-wrapper .film-video {
  width: 500px;
}
body #composer-view #all-films-wrapper #all-films-composer-display .film-wrapper .film-info-wrapper .score-it-button {
  font-weight: bold;
  height: 40px;
  width: 500px;
}
body #composer-view #add-score-view {
  padding-top: 15px;
  margin-left: 20px;
  font-size: 30px;
  text-align: center;
}
body #composer-view #add-score-view #score-title {
  margin: 20px;
  font-size: 25px;
}
body #composer-view #add-score-view #score-description {
  margin: 20px;
  font-size: 25px;
}
body #composer-view #add-score-view #upload-score {
  margin: 20px;
  font-size: 25px;
}
body #composer-view #add-score-view #upload-file {
  margin: 10px;
  font-size: 25px;
}
body #composer-view #add-score-view #back-button {
  margin: 10px;
  font-size: 25px;
}
body #composer-view #add-score-view #submit-button {
  margin: 10px;
  font-size: 25px;
}
body #composer-view #my-scored-films {
  padding-left: 50px;
}
body #composer-view #my-scored-films #my-scored-films-title {
  margin-top: 10px;
  font-size: 30px;
  padding-bottom: 20px;
}
body #composer-view #my-scored-films .score-wrapper {
  display: flex;
  flex-direction: row;
  border-top: gray 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
}
body #composer-view #my-scored-films .score-wrapper .score {
  display: flex;
  flex-direction: column;
  padding-right: 12px;
}
body #composer-view #my-scored-films .score-wrapper .score .favorite-status {
  background-color: greenyellow;
  font-size: 40px;
}
body #composer-view #my-scored-films .score-wrapper .score .score-title {
  padding-top: 15px;
  font-size: 20px;
}
body #composer-view #my-scored-films .score-wrapper .score .score-description {
  padding-top: 10px;
  font-size: 15px;
  color: gray;
}
body #composer-view #my-scored-films .score-wrapper .score .score-link {
  font-size: 15px;
  color: gray;
}
body #composer-view #my-scored-films .score-wrapper .score-film {
  border-left: gray solid 1px;
  padding-top: 15px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
body #composer-view #my-scored-films .score-wrapper .score-film .score-film-title {
  font-size: 20px;
  padding-top: 10px;
  color: black;
}
body #composer-view #my-scored-films .score-wrapper .score-film .score-filmmaker {
  font-size: 18px;
  padding-top: 10px;
  color: black;
}
body #composer-view #my-scored-films .score-wrapper .score-film .score-film-description {
  font-size: 15px;
  padding-top: 10px;
  color: gray;
}
body #sign-up {
  text-align: center;
}
body #sign-up #sign-up-form-1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
body #sign-up #sign-up-form-2 {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
body #sign-up #sign-up-form-3 {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
body #sign-up #sign-up-form-email-confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body #sign-up #sign-up-form-email-confirmation #user-info-wrapper {
  margin-top: 10px;
}
body #sign-up #sign-up-form-email-confirmation #user-info-wrapper #user-info {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
body #sign-up #sign-up-form-email-confirmation #payment-info-wrapper {
  margin-top: 10px;
}
body #sign-up #sign-up-form-email-confirmation #payment-info-wrapper #payment-info {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
body #sign-up #sign-up-form-email-confirmation #back-or-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
